# Java / Maven
backend/target/
backend/*.jar
backend/*.war
backend/.mvn/wrapper/maven-wrapper.jar
*.class
*.log

# Go binaries
backend-go/api.exe
backend-go/bin/

# Spring Boot
backend/src/main/resources/application-local.yml

# Node.js & Monorepo
node_modules/
.next/
out/
dist/
build/
.turbo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed

.vercel
.env*
